

#header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 52, 16) ;
    text-align: center;
    font-size: large;
    padding: 33.33px;
    background-color: lemonchiffon;
}

#header h1 {
    background-color: lemonchiffon;
    font-size: 48px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:grey;
    text-align: center;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    color: grey;
    background-color:lemonchiffon;
    font-size: 28px;
}

.nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    cursor: pointer;
    color: grey;
    text-align: center;
    margin: auto;
  }

.collapse:not(.show) {
    display: block;
}
.bg-light{
    background-color: white!important;
    clear: both;
}
  .navbar-nav{
   flex-direction: initial; 
}

.btn.btn-primary{
    background-color: lemonchiffon;
    text-emphasis-color: black;
    color: black;
}

.float-left {
    float: left;
    margin-right: 25px;
    width: 40%;
    height: 60%;
}

  li{
    
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  list-style:none;
  color:black;
  padding-right: 0px;
  height: 50px;
  width: 200px;
  font-weight: bolder;
}
 
  #imagewrapper{
    margin-left:auto ;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 240px;
    height: 300px;
    width: 250px;
    background-image: url("./images/stevens2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-style:double;
    border-color: black;
    text-align: center;
}
  #imagewrapper1{
    margin-left:auto ;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 240px;
    height: 300px;
    width: 250px;
    background-image: url("./images/rutgers.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-style:double;
    border-color: black;
    text-align: center;
}
  
  
  #imagewrapper2{
    margin-left:auto ;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 240px;
    height: 300px;
    width: 250px;
    background-image: url("./images/ISTQB.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-style:double;
    border-color: black;
    text-align: center;
  }
  #imagewrapper3{
    margin-left:auto ;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 240px;
    height: 300px;
    width: 250px;
    background-image: url("./images/astqb.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-style:double;
    border-color: black;
    text-align: center;
  }

  #imagewrapper4{
    margin-left:auto ;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 240px;
    height: 300px;
    width: 250px;
    background-image: url("./images/safe.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-style:double;
    border-color: black;
    text-align: center;
  }
  
  p{
     text-align: justify;
}
.navbar{
    flex-wrap: nowrap;
    color:black;
}