body{
    font-size: 20px;
    font-family: monospace;
    background-color: bisque;
}

#container{
    margin : 20px auto;
    background-color: white;
    height: 800px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    background-image: url("img/start.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:200px;
    height:200px;
    border : 2px solid rgb(56, 54, 54);
    text-align: center;
    cursor: pointer;
    margin-top: 200px;
    margin-left: 250px;
    color : rgb(56, 54, 54);
}
#start:hover{
  
    border: 3px solid green;
    color : green;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 20px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:20;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size:1em;
    text-align: left;
}
li{
margin-top: 100px;
text-align: left;
list-style: none;

}

#choices{
    width : 400px;
    position: absolute;
    right : 0;
    top : 125px;
    margin: 5px;
    padding : 5px
}
.choice{
    display: inline-block;
    width : 130px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    padding : 10px;
}
.choice:hover{
    border : 2px solid green;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 130px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 80px;
    right : 20px;
    padding:0px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 10px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    width : 100px;
    height : 100px;
    top:80px;
    left:325px;
}
p{
    text-align: left;
    font-size: medium;
    margin-left: 20px;

}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:150px;
    left:350px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
















